@using CyberSec.WebApp.Components.Layout
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <h1>404 - Nie znaleziono strony</h1>
        <p>Podana strona nie istnieje.</p>
    </NotFound>
</Router>